@media only screen and (min-width: 1366px) {
  body {
    gap: 110px;
  }

  #main-content {
    grid-template-columns: 700px 30vw;
    column-gap: 0;
  }

  .crew-describe {
    width: 70%;
  }

  .img-container {
    width: 31vw;
    height: 73vh;
  }
}
