@media only screen and (min-width: 1366px) {
  /* body {
    gap: 110px;
  } */

  .crew-describe {
    /* width: 70%; */
  }

  .img-container {
    width: 73%;
    height: 90%;
    align-self: flex-end;
  }
}
