/* settings */

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

:root {
  --white: #ffffff;
  --grey: #d0d6f9;
  --dark: #0b0d17;
}

h1,
h2,
h3,
h4 {
  font-family: "Bellefair", serif;
  font-style: normal;
  color: var(--white);
}

h1 {
  font-size: 80px;
  line-height: 100px;
}

h2 {
  font-size: 100px;
  line-height: 115px;
}

h3 {
  font-size: 56px;
  line-height: 65px;
}

h4 {
  font-size: 32px;
  line-height: 37px;
}

h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: var(--grey);
}

.subheading1,
.subheading2,
nav,
.nav {
  color: var(--white);
  text-transform: uppercase;
}

.subheading1 {
  font-family: "Bellefair", serif;
  font-size: 28px;
  line-height: 32px;
}

.subheading2,
nav,
.bold-nav,
.nav {
  font-family: "Barlow Condensed", sans-serif;
}

.subheading2,
.nav {
  line-height: 19px;
  letter-spacing: 2.7px;
  font-weight: 400;
}

.subheading2 {
  font-size: 14px;
}

.nav {
  font-size: 16px;
}

.bold-nav {
  font-weight: 700;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

/* website */

body {
  box-sizing: border-box;
  background-image: url(./assets/home/background-home-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 24px 0 24px;
  gap: 30px;
}

#nav-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

header {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo,
#logo img {
  width: 40px;
  height: 40px;
}

.hamburger {
  position: relative;
  z-index: 2;
  cursor: pointer;
  background-image: url(./assets/shared/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 24px;
  height: 21px;
}

.hamburger.active {
  background-image: url(./assets/shared/icon-close.svg);
}

.menu {
  z-index: 1;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  width: clamp(50%, 60%, 70%);
  height: 100vh;
  width: 70vw;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  display: flex;
  flex-direction: column;
  padding: 118px 0 0 32px;
  gap: 32px;
  list-style-type: none;
  transform: scaleX(0);
  transform-origin: 100% 0;
  transition: 250ms;
}

.menu a {
  display: flex;
  gap: 11px;
  width: 100%;
  position: relative;
}

.menu a::after.actived {
  content: "";
  position: absolute;
  bottom: -35px;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: var(--white);
}

.hamburger.active + ul.menu {
  transform: scaleX(1);
  position: fixed;
}

main {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
}

#content-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
}

#button-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--white);
  /* position: relative; */
  z-index: 0;
}

.button a {
  color: var(--dark);
  letter-spacing: 1.25px;
  font-size: 26px;
  text-decoration: none;
}

.button:hover::before {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  mix-blend-mode: normal;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  opacity: 0.2;
}

@media only screen and (max-width: 361px) {
  body {
    gap: 0;
  }
}

@media only screen and (max-width: 320px) {
  .button {
    width: 100px;
    height: 100px;
  }

  .button a {
    letter-spacing: 1px;
    font-size: 20px;
  }

  .button::before {
    width: 160px;
    height: 160px;
  }

  .subheading2 {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3px;
  }

  p {
    font-size: 13px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 150px;
    line-height: 150px;
  }

  body {
    background-image: url(./assets/home/background-home-tablet.jpg);
    height: 100%;
    gap: 106px;
    grid-template-rows: auto 1fr;
  }

  header {
    height: 72px;
    align-items: initial;
  }

  #logo,
  #logo img {
    width: 48px;
    height: 48px;
  }

  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
    transform: translate(0);
    flex-direction: row;
    height: 96px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    padding: 0 29px;
    gap: 0;
  }

  .menu-link {
    padding: 40px 0;
  }

  .menu li {
    padding: 0 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bold-nav {
    display: none;
  }

  .border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--white);
    transform: translateY(-50%);
    display: none;
  }

  .menu li:hover .border {
    display: block;
    opacity: 0.5;
  }

  .menu li a.actived .border {
    display: block;
    opacity: 1;
  }

  .subheading2 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
  }

  #content-section {
    gap: 24px;
  }

  p {
    font-size: 16px;
  }

  main {
    width: 450px;
    margin: 0 auto 0 auto;
  }

  .button {
    width: 242px;
    height: 242px;
  }

  #button-section a {
    letter-spacing: 2px;
    font-size: 32px;
  }

  .button:hover::before {
    width: 330px;
    height: 330px;
  }

  @media (orientation: landscape) {
    body {
      gap: 50px;
      padding-bottom: 20px;
    }

    .button {
      width: 180px;
      height: 180px;
    }

    #button-section a {
      font-size: 28px;
    }

    .button::before {
      width: 270px;
      height: 270px;
    }

    .button:hover::before {
      width: 270px;
      height: 270px;
    }
  }
}

@media only screen and (min-width: 1366px) {
  body {
    gap: 40%;
    padding: 40px 0 40px 55px;
    background-image: url(/assets/home/background-home-desktop.jpg);
  }

  header {
    margin: 0;
    height: 96px;
    align-items: center;
    position: relative;
  }

  .menu {
    position: absolute;
    width: 60%;
    padding: 0 165px 0 123px;
  }

  .menu::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -53%;
    width: 57%;
    border-bottom: 2px solid var(--white);
    mix-blend-mode: normal;
    opacity: 0.25;
  }

  .bold-nav {
    display: block;
  }

  .menu-link {
    font-size: 19px;
    color: var(--grey);
  }

  main {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
  }

  #content-section {
    width: 500px;
    text-align: left;
  }

  .subheading2 {
    font-size: 28px;
    line-height: 34px;
    /* letter-spacing: 4.725px; */
  }

  h1 {
    line-height: 172px;
    text-align: center;
  }

  p {
    font-size: 18px;
  }

  #button-section {
    margin-top: 20px;
  }

  .button {
    width: 274px;
    height: 274px;
  }

  #button-section a {
    letter-spacing: 2px;
    font-size: 37px;
  }

  .button:hover::before {
    width: 450px;
    height: 450px;
  }
}
