:root {
  --white: #ffffff;
  --grey: #d0d6f9;
  --dark: #0b0d17;
  --border: #383b4b;
}

body {
  background-image: url(./assets/crew/background-crew-mobile.jpg);
  background-size: cover;
  height: 710px;
}

#main-content {
  gap: 32px;
  justify-content: flex-start;
}
.nav-opacity {
  opacity: 0.25;
}

.img-container {
  width: 327px;
  height: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.crew-img {
  width: 177px;
  height: 220px;
}

.border-img {
  width: 100%;
  border-bottom: 1px solid var(--border);
}

.dot {
  margin: 0 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--white);
  display: inline-block;
  opacity: 0.17;
}

.dot.active {
  opacity: 1;
}

.profession {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 8px;
}

.crew {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.crew-describe {
  font-size: 15px;
  line-height: 25px;
  color: var(--grey);
  text-align: center;
  width: 327px;
  margin-bottom: auto;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url(./assets/crew/background-crew-tablet.jpg);
    gap: 40px;
    height: 1024px;
    overflow: hidden;
  }

  #main-content {
    width: 100%;
    height: auto;
    gap: 40px;
    flex-direction: column;
  }

  .title-description {
    width: 100%;
    align-items: flex-start;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
    margin-bottom: 20px;
  }

  .text-description {
    width: 60%;
  }

  .profession {
    font-size: 24px;
    line-height: 28px;
  }

  .crew {
    font-size: 40px;
    line-height: 46px;
  }
  .crew-describe {
    font-size: 16px;
    line-height: 28px;
    width: 100%;
    margin-bottom: 0;
  }

  .dis {
    display: inline-block;
  }

  .text-description {
    order: 1;
  }

  .dots {
    order: 2;
  }

  .img-container {
    order: 3;
    width: 60vw;
    height: 56vh;
  }

  .crew-img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 1366px) {
  body {
    background-image: url(./assets/crew/background-crew-desktop.jpg);
    gap: 60px;
  }

  #main-content {
    width: auto;
    gap: 0;
    grid-template-columns: 550px 39vw;
    display: grid;
    column-gap: 82px;
    grid-template-areas:
      "title-description img-container"
      "text-description img-container"
      "dots img-container";
  }

  .title-description {
    grid-area: title-description;
    align-items: flex-start;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    margin-bottom: 70px;
  }

  .text-description {
    width: auto;
  }

  .profession,
  .crew,
  .crew-describe {
    text-align: left;
  }

  .profession {
    font-size: 32px;
    line-height: 37px;
  }

  .crew {
    /* width: 100%; */
    font-size: 56px;
    line-height: 64px;
  }
  .crew-describe {
    font-size: 18px;
    line-height: 32px;
    width: 80%;
    margin-bottom: 0;
  }

  .text-description {
    grid-area: text-description;
  }

  .dots {
    grid-area: dots;
    width: auto;
    align-self: flex-start;
  }

  .img-container {
    grid-area: img-container;
    width: 39vw;
    height: 81vh;
  }

  .crew-img {
    width: 100%;
    height: 100%;
  }
}
