body {
  background-image: url(/assets/destination/background-destination-mobile.jpg);
}

.choice-planet {
  color: var(--white);
}

.nav-text {
  list-style-type: none;
}

.nav-text a::after {
  border-bottom: 3px solid var(--white);
  opacity: 0;
}

.nav-text a:hover::after {
  opacity: 0.5;
}

.nav-text a.active::after {
  opacity: 1;
}

.description {
  border-bottom: 1px solid var(--border);
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url(/assets/destination/background-destination-tablet.jpg);
  }
}

@media only screen and (min-width: 1366px) {
  body {
    background-image: url(/assets/destination/background-destination-desktop.jpg);
  }
}
