body {
  background-image: url(/assets/technology/background-technology-mobile.jpg);
}

.circle {
  border: 1px solid var(--white-opacity-quarter);
}

.circle:hover {
  border: 1px solid var(--white);
}

.circle.active,
.circle.active .nav-technology {
  background-color: var(--white);
  color: var(--dark);
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url(/assets/technology/background-technology-tablet.jpg);
  }
}

@media only screen and (min-width: 1366px) {
  body {
    background-image: url(/assets/technology/background-technology-desktop.jpg);
  }

  img[src="/assets/technology/image-launch-vehicle-landscape.jpg"] {
    content: url("/assets/technology/image-launch-vehicle-portrait.jpg");
  }

  img[src="/assets/technology/image-spaceport-landscape.jpg"] {
    content: url("/assets/technology/image-spaceport-portrait.jpg");
  }

  img[src="/assets/technology/image-space-capsule-landscape.jpg"] {
    content: url("/assets/technology/image-space-capsule-portrait.jpg");
  }
}
